attrs==21.4.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.7" and python_version < "4.0" and python_full_version >= "3.5.0"
aws-cdk-lib==2.15.0; python_version >= "3.6"
aws-cdk.aws-glue-alpha==2.15.0a0; python_version >= "3.6"
aws-cdk.aws-lambda-python-alpha==2.15.0a0; python_version >= "3.6"
boto3==1.21.13; python_version >= "3.6"
botocore==1.24.13; python_version >= "3.6"
cattrs==1.10.0; python_version >= "3.7" and python_version < "4.0"
constructs==10.0.80; python_version >= "3.6"
dill==0.3.4; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.1.0"
google-pasta==0.2.0
importlib-metadata==4.11.2; python_version >= "3.7"
jmespath==0.10.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
jsii==1.54.0; python_version >= "3.6" and python_version < "4.0"
multiprocess==0.70.12.2
numpy==1.22.2
packaging==21.3; python_version >= "3.6"
pandas==1.3.5; python_full_version >= "3.7.1"
pathos==0.2.8
pox==0.3.0
ppft==1.6.6.4
protobuf3-to-dict==0.1.5
protobuf==3.19.5; python_version >= "3.5"
publication==0.0.3; python_version >= "3.6"
pyparsing==3.0.7; python_version >= "3.6"
python-dateutil==2.8.2; python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.7.1" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6")
pytz==2021.3; python_full_version >= "3.7.1"
s3transfer==0.5.2; python_version >= "3.6"
sagemaker==2.75.1
six==1.16.0; python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.7.1"
smdebug-rulesconfig==1.0.1; python_version >= "2.7"
typing-extensions==4.1.1; python_version >= "3.6" and python_version < "4.0"
urllib3==1.26.8; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4" and python_version >= "3.6"
zipp==3.7.0; python_version >= "3.7"
